

.App .buttons
{
    text-align: left;
    display: flex;
    width: 500px;
    margin-left: 60px;
}
.App .Goods:hover
{
    background-color: rgb(72, 245, 187);
    cursor: pointer;
}
.App .Homep:hover
{
    background-color: rgb(115, 19, 206);
    cursor: pointer;
}
.App .Goods:active
{
    border: 2px solid aqua;
}
.linksH
{
    display: flex;
    height: 30px;
    margin-left: 700px;
    width: 100%;

    
}
.linksH button
{
    height: 30px;
    margin: 8px 8px;
    width: 100px;
    right:20px;
    border: none;
    background-color: white;
    color: blue;
    text-align: center;
    
    
}
.linksH button:hover
{
    cursor: pointer;
    font-weight: bold;

}